{% extends 'base.html' %}
{% block main %}
<form method="POST">
    {% for field in register_user_form %}
        {% if field != register_user_form.submit %}
            <p>
            {% if field.widget.input_type != 'hidden' %}
                {{ field.label() }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            {{ field() }}
            </p>
        {% endif %}
    {% endfor %}
    {{ register_user_form.submit }}
</form>
{% endblock main %}