[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
peewee = "*"
flask-wtf = "*"
wtf-peewee = "*"
jinja2 = "*"
flask-security = "*"
flask-peewee = "*"
bcrypt = "*"
faker = "*"

[requires]
python_version = "3.7"
