{% extends 'base.html' %}
{% block main %}
<div class="row shadow-sm">
    <h1 class="m-4">Posts</h1>
    <div class="col d-flex justify-content-end align-items-center">
        <div class="col-2 d-block text-center">
            <a class="btn btn-primary" href="{{ url_for('new_post') }}">New post</a>
        </div>
    </div>
</div>

<div class="row">
    {% for publication in publications %}
    <div class="col-6 p-3">
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">
                    {{ publication.title }}
                </h5>
                <p> <small> by <a
                            href=" {{url_for('user_publication', user_id=publication.author.id)}}">{{ publication.author.username }}</a>
                        on {{ publication.creation_date.strftime('%Y-%m-%d') }} </small>
                </p>
                <p>{{ publication.body }}</p>
                {% if publication.author == current_user %}
                <div class="text-center">
                    <a class="btn btn-secondary" href="{{ url_for('edit_post', post_id=publication.id) }}">Edit this
                        post</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    {% if page > 1 %}
    <a class="previous" href="./?page={{ page - 1 }}">Previous</a>
    {% endif %}
    {% if pagination.get_page_count() > page %}
    <a class="next" href="./?page={{ page + 1 }}">Next</a>
    {% endif %}
</div>
{% endblock %}