{% extends 'base.html' %}
{% block main %}
<h3>Posts</h3>
<a href="{{ url_for('new_post') }}">New post</a>
{% for publication in publications %}
<article>
    <div class="card">
    <a href="{{ url_for('edit_post', post_id=publication.id) }}">Edit this post</a>
        <dl>
            <dt>{{ publication.title }}</dt>
            <dt>
                <small>by <a href=" {{url_for('user_publication', user_id=publication.author.id)}}">{{ publication.author.username }}</a> on {{ publication.creation_date.strftime('%Y-%m-%d') }}</small>
            </dt>
            <dt>{{ publication.body }}</dt>
        </dl>
    </div>
</article>
{% endfor %}
{% if page > 1 %}                                                               
    <a class="previous" href="./?page={{ page - 1 }}">Previous</a>              
{% endif %}                                                                     
{% if pagination.get_page_count() > page %}                                          
    <a class="next" href="./?page={{ page + 1 }}">Next</a>                      
{% endif %}    
{% endblock %}