{% extends 'base.html' %}
{% block main %}
<h3>Posts</h3>
<a >New post</a>
{% for publication in publications %}
<article>
    <div class="card">
    <a {{ url_for('edit_post', post_id=publication.id) }}>Edit this post</a>
        <dl>
            <dt>{{ publication.titre }}</dt>
            <dt>
                <small>by {{ publication.author.name }} on {{ publication.creation_date }}</small>
            </dt>
            <dt>{{ publication.body }}</dt>
        </dl>
    </div>
</article>
<hr>
{% endfor %}
{% endblock %}